* text=auto

*.sh text eol=lf
install.sh text eol=lf
uninstall.sh text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.desktop text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bin binary
