[Desktop Entry]
Name=Monitor
TryExec=/opt/cardputer-zero-shell/scripts/monitor-fallback.sh
Exec=/opt/cardputer-zero-shell/scripts/monitor-fallback.sh
Terminal=true
Icon=share/images/stocks_100.png
Sysplause=true

